{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DB": "data source=localhost;initial catalog=RapidPay;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "AllowedHosts": "*",
  "IDP": {
    "URI": "https://localhost:5001"
  }
}
